.change-password-card-style {
    width: 400px !important;
    margin-top: 30px;
}

.password-icon-style {
    top: 28px !important;
    z-index: 1000 !important;
}

.content-center-change-password-style {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh;
}

@media (max-width: 425px) {
    .change-password-card-style {
        width: 300px !important;
    }
}